body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body h1 {
  font-size: 5rem;
  letter-spacing: -2px;
  text-indent: -3px;
}

body:not(.post-template) .post-title {
    font-size: 3.6rem;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

blockquote {
  border-left: 5px solid #21bbd1;
  margin-top: 20px;
}

blockquote p {
  font-weight: 700;
  margin-top: 0px;
}

a {
  color: #21bbd1;
}

.post-title a {
  text-decoration: none;
  color: #20222D;
  font-weight: 300;
}

.post-content img {
  border: 1px solid #ccc;
}

.ph-footer {
  background-color: #20222D;
  padding-top: 10px;
  position: absolute;
  width: 100%;
  color: #FFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ph-footer .row {
  margin-right: 0px;
  margin-left: 0px;
}

.footer-copyright {
  margin: 15px;
}

.ph-footer-col {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 10px;
}

.ph-footer  h6 {
  color: #21bbd1;
  font-size: 16px;
  font-weight: 300;
}

.ph-footer  a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ph-footer a:hover  {
  text-decoration: none;
  color: #ffffff;
}

.navbar-default {
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom-color: #e7e7e7;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  padding: 10px 20px 5px 40px;
  color: #ffffff;
  margin-bottom: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-default .nav-sandbox {
  padding: 5px 10px 5px 10px;
}

.navbar-default .navbar-collapse {
  border-color: #e7e8ee;
}

.navbar-default .navbar-nav li a {
  color: #20222D;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-default .navbar-nav li a:hover, a.active, a:focus, a:active {
  color: #21bbd1;
}

.navbar-default  .navbar-nav .open a {
  color: #20222D;
}

.navbar-default  .navbar-nav .open a:hover, :focus {
  color: #21bbd1;
}

.navbar-brand {
  font-size: 25px;
  font-weight: 500;
  margin-top: -3px;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-brand a {
  text-decoration: none;
}

.navbar-default .navbar-nav > .open > a {
  background-color: transparent;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
}

.content p, li {
  font-size: 1.8rem;
  line-height: 1.75em;
}

.author p {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.post-meta {
  margin-bottom: 10px;
  margin-top: 10px;
}
.post-meta a {
  color: #E75937;
  text-decoration: none;
  font-size: 16px;
}

.post-meta a:hover {
  text-decoration: none;
  color: #E75937;
}

.post-meta .excerpt-author a {
  color: #20222D;
  margin-right: 8px;
  padding-right: 12px;
  border-right: #d5dbde 1px solid;
}

.page-title.tags-page {
  font-size: 25px;
  margin-top: 30px;
  color: #21bbd1;
}

.post-header .post-title {
  margin-top: 30px;
}

.feature-widget {
  padding: 40px 20px 20px 20px;
}

.most_popular_widget a:hover {
  text-decoration: none;
  color: #20222D;
}

.most_popular_widget li {
  line-height: 1.4em;
  font-size: 16px;
}

